extends layout

block content
  .bs-glyphicons
    ul.bs-glyphicons-list
    each sound, index in sounds
      li.btn(data-sound-index= index, data-sound-path= sound.path)
        span.glyphicon.glyphicon-stop
        span.glyphicon-class
        = sound.name
