extends layout

block content
  .row
    form.form-inline
      .form-group
        label(for='filter') Filter
        input.form-control.filter#filter(type="text",name="filter")
      button.btn.btn-default.btn-lg(type="button", disabled="disabled")
        span.glyphicon.glyphicon-stop
  .row
    .bs-glyphicons
      ul.soundul
        each sound, index in sounds
          li.soundboard
            .panel.panel-default.soundcard
              .panel-heading
                .btn-group.soundcard-buttons(role="group", aria-label="...", data-sound-index= index, data-sound-path= sound.path)
                  button.btn.btn-default.sound-play(type="button", title="play")
                    span.glyphicon.glyphicon-play
                  button.btn.btn-default.sound-loop(type="button", title="loop")
                    span.glyphicon.glyphicon-repeat
              .panel-body
                = sound.name
              .panel-footer
                if sound.duration
                  .progress
                    .progress-bar(role="progressbar",aria-valuenow=sound.duration.val, aria-valuemin="0", aria-valuemax=sound.duration.val, style="width: 100%;")
                      = sound.duration.label
