body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal !important;
}

.bs-glyphicons {
    margin: 0px -10px 20px;
    overflow: hidden;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-glyphicons li {
    float: left;
    width: 220px;
    height: 220px;
}

.soundcard .panel-heading {
  height: 80px;
}

.soundcard .panel-body {
  height: 90px;
}

.soundcard .panel-footer {
  height: 40px;
}

.progress-bar {
  transition: width 0s ease 0s !important;
}
.progress-label {
    float: left;
    margin-right: 10px;
}
.shortcut{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.sound-shortcut {
  width: 50px;
}
